#logout-container {
    position: absolute;
    align-self: flex-end;
    margin-top: 1%;
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#logout-container:hover {
    font-size: 1.25rem;
    color: red;
}

#logout-container:active {
    color: darkred;
}

#logout {
    font-size: 2rem;
}

#logout:active {
    color: darkred;
}

@media only screen and (max-width: 600px)  {
    #logout-container {
        margin-top: 2%;
        margin-right: 2%;
    }
    #logout {
        font-size: 1.25rem;
    }
}