nav {
    height: 100%;
    width: 95%;
    display: grid;
    align-self: center;

}

#non-mobile-nav {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 2fr 2fr;
    align-items: center;
}

#non-mobile-nav li a {
    color: black;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-shadow: 0 0 2px whitesmoke, 0 0 2px whitesmoke;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

a:hover {
    text-decoration: none;
    font-size: 1.75rem;
}

a:active {
    text-decoration: none;
    font-size: 1.25rem;
    text-shadow: 0 0 1px #18ab29, 0 0 1px #18ab29;
}

ul #nb-1 span , ul #nb-2 span {
    cursor: default;
    font-size: 3.25rem;
}

ul #nb-1 span:hover , ul #nb-2 span:hover {
    font-size: 3.75rem;
}

ul #nb-1 span:active , ul #nb-2 span:active {
    font-size: 2.75rem;
}

#displayName {
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
}

#profile {
    display: grid;
    grid-template-rows: 3fr 1fr;
}

#profile-container {
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
}

#profile-container img {
    max-width: 55%;
    height: auto;
    display: block;
    border-radius: 50%;
    border:3px solid #1AB26B;
    box-shadow: 0 0 15px darkgray;
    margin-bottom: -4%;
}


#profile-name {
    font-size: 1.4rem;
    justify-self: center;
    align-self: center;
    text-shadow: 0 0 3px #484848, 0 0 3px #484848;
}

.spotify {
    height: 55%;
    width: 55%;
    overflow: hidden;
    justify-self: center;
}

.spotify:hover {
    height: 60%;
    width: 60%;
}

.spotify:active {
    height: 50%;
    width: 50%;
}

.spotify img {
    max-width: 80%;
    height: auto;
    display: block;
}

.github {
    height: 50%;
    width: 50%;
    overflow: hidden;
    justify-self: center;
}

.github:hover {
    height: 55%;
    width: 55%;
}

.github:active {
    height: 45%;
    width: 45%;
}

.github img {
    max-width: 35%;
    height: auto;
    display: block;
}

@media only screen and (max-width: 426px) {
    ul #nb-1 span , ul #nb-2 span {
        font-size: 2.1rem;
    }
    #reg-spotify {
        height: 100%;
        width: 100%;
    }
    .spotify img {
        max-width: 100%;
    }
    #reg-github {
        height: 95%;
        width: 95%;
    }
    .github img {
        max-width: 45%;
    }
    #profile-name {
        font-size: 1rem;
        word-spacing: 5px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 600px)  {
    #reg-spotify {
        height: 90%;
        width: 90%;
    }
    .spotify img {
        max-width: 100%;
    }
    #reg-github {
        height: 95%;
        width: 95%;
    }
    .github img {
        max-width: 35%;
    }
    #profile-name {
        font-size: 1rem;
        word-spacing: 5px;
    }
    ul #nb-1 span , ul #nb-2 span {
        font-size: 2.75rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 820px) {
    #reg-spotify {
        height: 90%;
        width: 90%;
    }
    #reg-github {
        height: 95%;
        width: 95%;
    }
    .github img {
        max-width: 30%;
    }
    ul #nb-1 span , ul #nb-2 span {
        font-size: 2.75rem;
    }
}

@media only screen and (min-width: 820px) and (max-width: 1310px) {
    #reg-spotify {
        height: 90%;
        width: 90%;
    }
    #reg-github {
        height: 95%;
        width: 95%;
    }
    .github img {
        max-width: 30%;
    }
    ul #nb-1 span , ul #nb-2 span {
        font-size: 2.75rem;
    }
}

@media only screen and (min-width: 1310px) and (max-width: 1760px) {
    #reg-spotify {
        height: 60%;
        width: 60%;
    }
}

@media only screen and (max-width: 890px)  {
    #mini-player-button {
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }
}

.nav-mini-player {
    display: none;
}

/*
@media only screen and (max-width: 550px) and (max-height: 550px) {
    #mobile-nav {
        display: none;
    }
    #the-mini-player {
        height: 196px;
        width: 520px;
        display: grid;
        grid-template-columns: 1fr 2fr 6fr 1fr;
        align-items: center;
        padding: 1%;
        justify-self: center;
        align-self: center;
    }
}
*/
