#search-bar {
    height: 10%;
    width: 95%;
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
    padding: 1%;
    border-radius: 1% / 10%;
    box-shadow: 0 0 9px darkgray;
}

#search-bar:focus {
    border: var(--text-border-color);
    outline: var(--text-border-color);
    box-shadow: var(--text-box-shadow);
    font-size: 1.25rem;
    border-radius: 3% / 30%;
}