#middle {
    max-height: 950px;
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1%;
    justify-self: center;
}

#search-bar {
    z-index: 2;
}

@media only screen and (max-width: 890px)  {
    #middle {
        display: none;
    }
}